.DS_Store
classes/comp201/.DS_Store
classes/comp201/.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
classes/comp547.s22/.nova/Artwork
classes/comp547.s22/.nova/Configuration.json
classes/comp550.f21/.nova/Artwork
classes/comp550.f21/.nova/Configuration.json
.nova/Artwork
.nova/Configuration.json
classes/comp201.f23/.nova/Artwork
classes/comp201.f23/.nova/Configuration.json
classes/comp527.s23/.nova/Artwork
classes/comp527.s23/.nova/Configuration.json
classes/comp541.f23/.nova/Artwork
classes/comp541.f23/.nova/Configuration.json
.DS_Store
classes/comp201.f24/code/lect5/memory.dSYM/Contents/Info.plist
classes/comp201.f24/code/lect5/memory.dSYM/Contents/Resources/DWARF/memory
